{% extends 'base.html' %}

{% block content %}

<form action="" method="POST">
    {{ form.hidden_tag() }}
    <p>
        {{ form.first_name.label }} <br />
        {{ form.first_name }}
        {% for error in form.first_name.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.last_name.label }} <br />
        {{ form.last_name }} <br />
        {% for error in form.last_name.errors %}
        <span style="font: red;">[{{ error}}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.date_of_birth.label }} <br />
        {{ form.date_of_birth }} <br />
        {% for error in form.date_of_birth.errors %}
            <span style="font: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        <a class="btn btn-secondary m-1" href="{{ url_for('children')}}">Anuluj</a>
        <input type="submit" class="btn btn-primary m-1" value="Dodaj" />
    </p>
</form>

{% endblock %}