<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>{{ month_year[1] }} {{ month_year[2] }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <style>
        .container {
            min-height: 100vh;
        }
        .center {
            text-align: center;
            margin: 0 auto;
        }
    </style>
</head>
<body>
    <div class="container test-border">
        <div id="calendar">
            <div class="mt-5">
            <h1 id="h1-title">{{ month_year.month }} {{ month_year.year }}</h1>
            <div class="row">
                <div class="col-sm days border border-info"><b>Pn</b></div>
                <div class="col-sm days border border-info"><b>Wt</b></div>
                <div class="col-sm days border border-info"><b>Śr</b></div>
                <div class="col-sm days border border-info"><b>Czw</b></div>
                <div class="col-sm days border border-info"><b>Pt</b></div>
                <div class="col-sm days border border-info"><b>So</b></div>
                <div class="col-sm days border border-info"><b><span style="color: red;">Nd</span></b></div>
            </div>
            {% for week in naps_data %}
            <div class="row">
                {% for day in week %}
                {% if day[0].day == date.day and day[0].month == date.month and day[0].year == date.year %}
                    <div id={{ day[0].day }} class="col-sm days border border-info bg-info monthday">
                {% elif day[0] == 0 %}
                    <div id=0 class="col-sm days border border-info monthday">
                {% else %}
                    <div id={{ day[0].day }} class="col-sm days border border-info monthday">
                {% endif %}
                        {% if day[0] == 0 %}
                            <p></p>
                        {% else %}
                            {% if day == week[-1] %}
                                <p><b><span style="color: red;">{{ day[0].day }}</span></b></p>
                            {% else %}
                                <p><b>{{ day[0].day }}</b></p>
                            {% endif %}
                            {% for n in day[1] %}
                                {{ n }}
                            {% endfor %}
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
            {% endfor %}
            </div>
        </div>
            <div class="row justify-content-center align-items-center">
                <button id="btn-prev-month"><i class="fas fa-angle-left"></i></button>
                <button id="btn-next-month"><i class="fas fa-angle-right"></i></button>
            </div>
    </div>
    <div id="dayModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script>
    $(document).ready(function() {
        $('.monthday').on('click', function(e) {
            var day = e.target.id;
            var monthYear = $('#h1-title').text();
            $.ajax({
                url: '/calendar',
                type: 'GET',
                data: {
                    day: day,
                    month_year: monthYear
                },
                success: function(resp) {
                    $('#dayModal .modal-content').html(resp);
                    $('#dayModal').modal('show');
                },
                error: function(error) {
                }
            });
        });


        $('#btn-prev-month').on('click', function(e) {
            e.preventDefault();
            var date = $('#h1-title').text();
            $.ajax({
                type: 'get',
                url: '/calendar',
                data: {
                    date: date,
                    skip: 'prev'
                },
                success: function(response) {
                    $('#calendar').html(response);

                }
            });
        });
        $('#btn-next-month').on('click', function(e) {
            e.preventDefault();
            var date = $('#h1-title').text();
            $.ajax({
                type: 'get',
                url: '/calendar',
                data: {
                    date: date,
                    skip: 'next'
                },
                success: function(response) {
                    $('#calendar').html(response);
                }
            });
        });

    });
    </script>
</body>
</html>