<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Statystyki drzemek</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        .test-border {
            border-style: solid;
            border-color: red;
        }
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Statystyki drzemek</h1>
        <div class="row justify-content-center">
            <canvas id="chart-number-naps" class="mb-5 mt-3 w-75" style="max-height: 20em;"></canvas>
            <canvas id="chart-total-time" class="mt-5 w-75" style="max-height: 20em;"></canvas>
        </div>
    </div>
    <script>
        var ch_number = document.getElementById('chart-number-naps').getContext('2d');
        var chart_number = new Chart(ch_number, {
            type: 'line',
            data: {
                labels: [
                    {% for x in naps_number %}
                        {{ x[0] }},
                    {% endfor %}
                ],
                datasets: [{
                    fill: false,
                    backgroundColor: 'rgb(255, 99, 132)',
                    borderColor: 'rgb(255, 99, 132)',
                    data: [
                        {% for y in naps_number %}
                            {{ y[1] }},
                        {% endfor %}
                    ],
                }]
            },
            options: {
                title: {
                    display: true,
                    text: 'Ilość drzemek na dzień',
                    fontSize: 24,
                    fontFamily: 'Helvetica'
                },
                legend: {
                    display: false
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            fontSize: 18
                        }
                    }],
                    xAxes: [{
                        ticks: {
                            fontSize: 18
                        }
                    }]
                }
            }
        });
        var ch_total_time = document.getElementById('chart-total-time').getContext('2d');
        var chart = new Chart(ch_total_time, {
            type: 'line',
            data: {
                labels: [
                    {% for x in naps_total_time %}
                        {{ x[0] }},
                    {% endfor %}
                ],
                datasets: [{
                    label: 'Łączny czas drzemek/dzień',
                    fill: false,
                    backgroundColor: 'rgb(255, 99, 132)',
                    borderColor: 'rgb(2, 99, 132)',
                    data: [
                        {% for y in naps_total_time %}
                            {{ y[1] }},
                        {% endfor %}
                    ],
                }]
            },
            options: {
                title: {
                    display: true,
                    text: 'Łączny czas spania w dzień',
                    fontSize: 24,
                    fontFamily: 'Helvetica'
                },
                legend: {
                    display: false
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            fontSize: 18
                        }
                    }],
                    xAxes: [{
                        ticks: {
                            fontSize: 18
                        }
                    }]
                }
            }
        });
    </script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>